@import "tailwindcss";
@import 'swiper/css';
@import 'swiper/css/pagination';
body,html{
    font-family: 'Assistant';
}

.swiper-pagination-bullet {
    
  background: #303030;
  opacity: 90%
}
.swiper-pagination-bullet-active {
  background: #ff7e1f;
}
